body,dl,dd,p,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-size: 12px;
}
ol,ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: none;
}
th,td { 
    padding: 0;
}
table { 
    border-collapse: collapse;
}
form { 
    margin: 0;
}
input { 
    margin: 0; 
    padding: 0;
}
select { 
    margin: 0;
}	
textarea { 
    margin: 0; 
    padding: 0; 
    resize: none; 
    outline: none;
}