/*     模拟滚动条    */
#scrollContent {
    width: 500px;
    height: 400px;
    margin: 50px auto;
    position: relative;
}
#contentWrap {
    width: 475px;
    height: 100%;
    background: #eee;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
}
#content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
#scrollWrap {
    width: 25px;
    height: 100%;
    background: #dddddd;
    position: absolute;
    top: 0;
    right: 0;
}
#scroll {
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
}
#scroll:hover {
    cursor: pointer;
}

/*     鼠标绘制方块      */
#drawnWrapper {
    width: 500px;
    height: 500px;
    margin: 40px auto;
    border: 1px solid #000;
    box-sizing: border-box;
    position: relative;
}
#drawnWrapper div {
    position: absolute;
    border: 1px solid red;
}


/*    拖拽回看      */
#replay {
    margin: 20px 0 0 20px;
}
#drag {
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
    top: 60px;
    left: 20px;
}
#drag:hover {
    cursor: pointer;
}